@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url();
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

html {
    scroll-behavior: smooth;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social {
    margin: 0;
    padding: 0;
}

.social li .fa {
    padding: 2px 30px 2px 0px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

.social li .fa:hover {
    opacity: 0.7;
}

#index {
    min-height: 100vh;
}

.greeting {
    font-size: 60px;
}

.hero {
    font-size: 22px;
    position: relative;
    top: 150px;
}

#blog, #contact {
    margin-top: 200px;
}

.form {
    position: relative;
    top: 30%;
}

body {
    opacity: 0;
    transition: opacity 1.4s;
}

.scrollable {
    height: 400px;
    overflow-y: auto;
}