html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog, #contact {
    background-color: rgb(250, 249, 249);
}

.hero h1 {
    margin: 30% 0 1.8rem 0;
}

.blog h1 {
    margin-top: 50%;
}

body {
    opacity: 0;
    transition: opacity 1.4s;
}

.scrollable {
    height: 400px;
    overflow-y: auto;
}