<!doctype html>
<head>
    <title> {% block title %}{% endblock %}- dhivjoseph.dev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<nav>
    <img src="" alt="">
    {% block header %}{% endblock %}
    <ul>
        <li>Portfolio</li>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
    </ul>
</nav>
<section class="main">
    {% block content %}{% endblock %}
    {% block more_content %}{% endblock %}
</section>
